duckdb==1.4.4
tzdata==2025.2
pytz==2025.2
pandas==3.0.5
streamlit==1.62.0
plotly==6.9.0
pytest==8.4.2
colorama==0.4.6; sys_platform == 'win32'
iniconfig==2.3.0
packaging==26.3
pluggy==1.6.0
pygments==2.21.0
